body{
    background-color: black;
}
p{
    color:white;
    width: 400px;
    line-height: 70px;
    font-family: monospace;
    font-size: larger;
    font-stretch: expanded;
    text-align: justify;
    position: absolute;
    top: 20%;
    left: 3%;
}

#pantalla{
    position: absolute;
    left: 40%;
    top: 13%;
}
