@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=Tangerine&display=swap');

h1, h2{
    position: relative;
    /* text-align: right; */
    font-family: 'Tangerine', cursive;
    display: inline-block;
}

h2{
    font-size: 0.8em;
    padding-left: 50%;

}
p{
    font-family: 'Tangerine', cursive;
    font-size: x-large;
    font-size: 1.7em;
    padding-left: 2%;
    padding-right: 2%;
}

body{
    background-color: #d4a873;
}

.container{
    position: relative;
    margin: 15px;
    margin-top: 30px;
    background-color: #899692;
}

.isla{
    width: 50%;
    height: auto;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20%;
    padding-top: 2%;
    padding-bottom: 3%;
}

.citys{
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #433732;
    border-radius: 100%;
    cursor: pointer;
}

iframe{
    background: #d4a873;
}

.video{
    position: fixed;
    top: 10%;
    left: 35%;
    height: 300px;
}
.boton{
    cursor: pointer;
    position: relative;
    top: 8%;
    left: 94%;
}

.icon{
    padding-left: 5%;
    padding-top: 5%;
    display: inline-block;
    width: 40%;
    height: auto;
}

.title{
    display: block;
}